<div class="card-columns">
{{#if articles}}

    {{#each articles}}
    <div class="card text-center">
        <form action="./censoredArticle" method="POST">
            <div class="card-header">
                {{#getImage this.content}}{{/getImage}}
            </div> 
            <div class="card-body mt-4">
                <h1 class="card-title">Article Title: {{this.title}}</h1>
                <p><em>by {{this.username}}</em></p>
                <p class="card-text">{{this.content}}</p>
            </div>
            <div>
                <button type="submit" class="card-link btn btn-primary" name="articleid" value="{{this.articleid}}" formaction="./article">Read Full Article!</button>
                <button type="submit" class="card-link btn btn-success" name="articleid" value="{{this.articleid}}">Read Full Censored Article!</button>
            </div>
        </form>

    </div>
    
    {{/each}}
    
{{/if}}
</div>