<div class="container">

    <h1>{{message}}</h1>
    
    <h1>Hello, {{#if user}} {{user.username}}!{{else}} Stranger!{{/if}}</h1>
    {{#if user}}<p>This is your homepage!</p>{{else}}{{/if}}
    {{#if user}}<p>Click <a href="./logout">here</a> to log out.</p>
    {{else}}<p><a href="./login">Log in</a>, or <a href="./signup">create an account</a>.</p>{{/if}}
      <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
            <h1 class="my-4">Articles List</h1>
            <hr>

                <!-- Blog Post -->
                <div class="card mb-4">
                <img class="img-responsive" src="http://lorempixel.com/640/360" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Post Title</h2>
                     <span>by Joe Bloggs</span>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                     <a href="./fullArticleView" class="btn btn-primary">Read Full Article &rarr;</a>
                </div>
                <i onclick="myFunction(this)" class="fa fa-thumbs-up" style="font-size: 2em;"></i>
                <script>function myFunction(x) {  x.classList.toggle("fa-thumbs-down");
                }</script>

                <div class="card-footer text-muted"></div>
                </div>
                <hr>    

                <!-- Blog Post -->
                <div class="card mb-4">
                <img class="img-responsive" src="http://lorempixel.com/640/480/sports" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Post Title</h2>
                    <span>by Joe Bloggs</span>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    <a href="./fullArticleView" class="btn btn-primary">Read Full Article &rarr;</a>
                </div>
                </div>
                <hr>  

                <!-- Blog Post -->
                <div class="card mb-4">
                <img class="img-responsive" src="https://www.placecage.com/640/360" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Post Title</h2>
                    <span>by Joe Bloggs</span>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    <a href="./fullArticleView" class="btn btn-primary">Read Full Article &rarr;</a>
                </div>
                </div>
                <hr>  
        </div>
    </div>


</div>