{{#if message}}
    <p>{{message}}</p>
{{/if}}

<div class="row">
    <div class="page-header">
        <img src="/images/thumbnails/{{user.avatarId}}">
        <h1>{{user.fname}}'s Profile</h1>
    </div>

    <form action="./updateUserProfile" method="POST">
        
        <table class="table table-striped">
            
            <tbody>
                 <tr>
                    <th>Username</th>
                    <td name="username" id="unametd">{{user.username}}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td name="fname" id="fnametd">{{user.fname}}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td name="lname" id="lnametd">{{user.lname}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td name="email" id="emailtd">{{user.email}}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td name="gender" id="gendertd">{{user.gender}}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td name="country" id="countrytd">{{user.country}}</td>
                </tr>
                <tr>
                    <th>Phone number</th>
                    <td name="phonenum" id="phonetd">{{user.phoneNum}}</td>
                </tr>


            </tbody>

        </table>
        <div align="right">
            <input type="button" class="btn btn-primary" id="editprofile" value="Edit">
            <button type="submit" class="btn btn-primary" id="savebtn">Save</button>
        </div>
    </form>
</div>

