<div class="row">
    <div class="page-header">
        <img src="/images/thumbnails/{{user.avatarId}}">
        <h1>{{user.fname}}'s Profile</h1>
    </div>

    <table class="table table-striped">
        
        <tbody>
            <tr>
                <th>First Name</th>
                <td>{{user.fname}}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{user.lname}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{user.gender}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{user.country}}</td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>{{user.phoneNum}}</td>
            </tr>
        </tbody>
    </table>
</div>