{{#if message}}
    <p>{{message}}</p>
{{/if}}

<div class="row mb-40">
    <div class="page-header">
        <h1 class="center">{{user.fname}}'s Profile</h1>
        <img class="img-rounded img-responsive center-block" src="/images/thumbnails/{{user.avatarId}}">
        <br>
        <br>
        <form action="./changeAvatar" method="POST" enctype="multipart/form-data">
        <div class="form-group" id="imageUpload" style="display: none";> 
            <label for="inpFile">Choose an Avatar:</label>
            <p>Upload avatar image from your computer.</p>
            <input id="inpFile" type="file" name="imageFile" accept=".png,.jpg,.jpeg,.bmp,.gif"><button type="button" class="btn btn-primary" id="clearImgUpload">Clear</button>
            <br>
        </div>
        <input type="button" class="btn btn-primary center-block" id="changeAvatar" value="Change Avatar" style="display: block;">
        <input type="submit" class="btn btn-primary" id="saveAvatar" value="Save Avatar" style="display: none;">
        </form>
        
    </div>

    <form action="./updateUserProfile" method="POST">
        
        <table class="table table-striped">
            
            <tbody>
                 <tr>
                    <th>Username</th>
                    <span id="usernameTaken" style="display: none; color:red">Username is taken. Please try something different:</span>
                    <span id="bannedWord" style="display: none; color:red">That username contains banned words. Try again after you've washed your mouth out with soap!</span>                        
                    <td name="username" id="unametd">{{user.username}}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td name="fname" id="fnametd">{{user.fname}}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td name="lname" id="lnametd">{{user.lname}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td name="email" id="emailtd">{{user.email}}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td name="gender" id="gendertd">{{user.gender}}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td name="country" id="countrytd">{{user.country}}</td>
                </tr>
                <tr>
                    <th>Phone number</th>
                    <td name="phonenum" id="phonetd">{{user.phoneNum}}</td>
                </tr>


            </tbody>

        </table>
        <div align="left">
            <input type="button" class="btn btn-primary" id="editprofile" value="Edit">
            <button type="submit" class="btn btn-success" id="savebtn">Save</button>
        </div>
        <div align="right">
            <input type="submit" class="btn btn-danger" id="deleteProfileBtn" formaction="./deleteProfile">
        </div>
    </form>
</div>

