{{#if content}}
<div class="card">
<div class="card-body">
    <p class="card-text">What are we posting today?</p>
    <form action="./updateArticle" method="POST" enctype="multipart/form-data">
        <div class = "form-group">
            <label for="title">Post Title:</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Write your title here" value="{{title}}">
        </div>
        <div class="form-group">
            <textarea id="full-featured-non-premium" name="wysiwyg"> {{content}}
            </textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" name="articleId" value="{{articleId}}">Submit!</button>
            <input type="button"  class="btn btn-primary" value="Cancel!" onclick="history.back()">
        </div>
        
    </form>
</div>

{{else}}
<div class="row">
    <div class="col-md-12">

        {{#if message}}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}

        <div class="card">
            <div class="card-body">
                <p class="card-text">What are we posting today?</p>
                <form action="./writeArticle" method="POST" enctype="multipart/form-data">
                    <div class = "form-group">
                        <label for="title">Post Title:</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Write your title here">
                    </div>
                    <div class="form-group">
                        <textarea id="full-featured-non-premium" name="wysiwyg">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit!</button>
                        <input type="button"  class="btn btn-primary" value="Cancel!" onclick="history.back()">
                        <input type="button" class="btn btn-danger" id="censorArticleBtn" value="Click here to apply profanity filter to this article">
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
{{/if}}

